target/classes/test-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

    <flow name="test-projectFlow">
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="FirstName" value="Deepak"/>
            <add-message-property key="LastName" value="Talluri"/>
        </message-properties-transformer>
        <set-payload value="&quot;#[message.outboundProperties.FirstName]&quot;+&quot;#[message.outboundProperties.LastName]&quot;" doc:name="Set Payload"/>
        <logger message="App name is #[app.name] and registry is #[app.registry.size()]" level="INFO" doc:name="Logger"/>
        <logger message="payload set in demo app is #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
